<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>

  window.images = {
    play: "<=% image_path('play.png') %>",
    fire: "<=% image_path('fire.png') %>"
  }
</script>

<main id="root"></main>
