<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>

  window.images = {
    play: "<=% image_path('play.png') %>"
  }
</script>

<main id="root"></main>

<link href="https://fonts.googleapis.com/css?family=Proxima Nova" rel="stylesheet">
