

.home {
   min-height:100%;
   position: relative;
  font-family: 'Proxima Nova', sans-serif;
  color: #a0a0a0;
  display: flex;
  background-color: #181818;
  background-image: linear-gradient(rgb(64, 73, 89), rgb(6, 7, 8) 85%);
}

.container {
  padding-bottom: 100px;
  display: flex;
  width: 100%;
  // justify-content: center;
}

.music {
  display: flex;
  flex-direction: column;
  width: 100%;
  // justify-content: center;
}

.sidebar {
  min-width: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // height: 100%;
  // background-color: #00001a;
  padding: 25px;
  background-color: rgba(0,0,0,.5);
  overflow: auto;
  // position: fixed;
  // bottom: 0;
  // padding-bottom: 100px;
}

.sidebar-top {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 175px;
}

#logo {
  border-bottom: 1px solid;
  margin-top: 24px;
  padding-bottom: 24px;
}
#search {
  padding-bottom: 19px;
  padding-top: 19px;
  // background-color: transparent;
}
#line {
  border-bottom: 1px solid;
}

#browse {
  padding-bottom: 19px;
  padding-top: 19px;
  color: #1db954;
}

#music {
  margin-bottom: 19px;
  color: #a0a0a0;
  text-decoration: none;
}

.sidebar-bottom {
  // padding-bottom: 60px;
  font-size: 14px;
  font-family: 'Proxima Nova', sans-serif;
  // bottom: 100px;
  // position: relative;
}

.sidebar-bottom button {
  background-color: transparent;
  color: #a0a0a0;
  border: 1px solid;
  border-radius: 20px;
  padding: 3%;
  vertical-align: center;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 14px;
  width: 100%
}

.sidebar-bottom div {
  padding: 10px;
  text-align: center;
}

.bottom:hover, #search:hover, #music:hover {
  color: white;
}

#user {
  border-bottom: 1px solid;
  margin-top: 19px;
  font-size: 16px;
}

html, body, #root {
   margin:0;
   padding:0;
   height:100%;
}

.body {
   margin:0;
   padding:0;
   height:100%;
}
