
.browse-artists {
  color: white;
  font-size: 24px;
  text-align: center;
}

.music-nav-active {
  color: white;
}
.home {
   min-height:100%;
   position: relative;
  font-family: 'ProximaNova', sans-serif;
  color: #a0a0a0;
  display: flex;
  background-color: #181818;
  background-image: linear-gradient(rgb(64, 73, 89), rgb(6, 7, 8) 85%);
}

.container {
  padding-bottom: 100px;
  display: flex;
  width: 100%;
}

.music {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sidebar {
  min-width: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  background-color: rgba(0,0,0,.5);
  overflow: auto;
  position: sticky;
  top: 0;
  height: 100%;
  max-height: calc(100vh - 140px);
}

.sidebar-top {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 175px;
}

#logo {
  border-bottom: 1px solid;
  margin-top: 24px;
  padding-bottom: 24px;
  &:hover {
    color: white;
  }
}
#search a {
  padding-bottom: 19px;
  padding-top: 19px;
  display: flex;
  justify-content: space-between;
  &:hover {
    color: white;
  }
}

#line {
  border-bottom: 1px solid;
}

#browse {
  padding-bottom: 19px;
  padding-top: 19px;
  color: #a0a0a0;
  width: 100%;
}

#music {
  margin-bottom: 19px;
  color: #a0a0a0;
  text-decoration: none;
  width: 100%;
}

#music a, #browse a {
  width: 100%;
  display: flex;
  &:hover {
    color: white;
  }
}

.green {
  color: #1db954;
}

.sidebar-bottom {
  font-size: 14px;
  font-family: 'ProximaNova', sans-serif;
}

.sidebar-bottom button {
  background-color: transparent;
  color: #a0a0a0;
  border: 1px solid;
  border-radius: 20px;
  padding: 3%;
  vertical-align: center;
  font-family: 'ProximaNova', sans-serif;
  font-size: 14px;
  width: 100%
}

.sidebar-bottom div {
  padding: 10px;
  text-align: center;
}

.bottom:hover, #search:hover, #music:hover {
  color: white;
}

#user {
  border-bottom: 1px solid;
  margin-top: 19px;
  font-size: 16px;
}

#disclaimer {
  font-size: 11px;
  padding-top: 5px;
}

html, body, #root {
   margin:0;
   padding:0;
   height:100%;
   background: black;
}

.body {
   margin:0;
   padding:0;
   height:100%;
}
