// Place all the styles related to the Api::Playlistings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.pl {
  // background-color: #181818;
  // background-image: linear-gradient(#404959, #060708 85%);
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.pl-image {
  display: flex;
  // flex-wrap: wrap;
  // justify-content: space-around;
  // align-items: center;
  flex-direction: column;
  padding-left: 8px;
  padding-right: 8px;
  // border: 1px solid red;
}
.pl-info {
  display: flex;
  flex-direction: column;
  // padding: 20px;
  width: 100%;
  color: #fff;
  text-transform: capitalize;
  padding-bottom: 10px;
  align-items: center;

}

.pl-info h1 {
  font-size: 36px;
  padding-bottom: 10px;
  padding-top: 2px;
  text-align: center;
}
.pl-info h2, a {
  font-size: 16px;
  font-weight: 100;
  // padding-bottom: 8px;
  margin-bottom: 16px;
  color: #a0a0a0;
  text-decoration: none;
}

.pl-info h3 {
  font-size: 14px;
  color: #a0a0a0;
  font-weight: 100;
  letter-spacing: 1px;
}

.remove-from-pl {
  // margin-top: 10px;
  padding-right: 20px;
  // padding-left: 20px;
  background: transparent;
  // box-shadow: inset 0 0 0 2px #a0a0a0;
  color: #a0a0a0;
  // font-family: 'Proxima-Nova', sans-serif;
  // letter-spacing: 1px;
  cursor: pointer;
  font-weight: 100;
  vertical-align: top;
  &:hover {
    color: #fff;
    cursor: pointer;
  }
}

.pl-image img {
  padding-bottom: 15px;
  cursor: pointer;
}

.pl-tracks {
  margin-bottom: 40px;
  padding-left: 8px;
  // padding-right: 8px;
    width: 100%;
}

.pl-tracks li {
  color: #a0a0a0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 100;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  transition: background-color .2s linear;
  box-sizing: border-box;
  &:hover {
    background-color: black;
    background: transparentize(black, .5%);
    // opacity: .4;
    z-index: 100;
  }
}
.pl-tracks-left {
  text-align: right;
  padding-right: 20px;
  width: 25px;

}
.track-info {
  text-align: left;
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
}

.track-info h1 {
  color: #fff;
  font-size: 17px;
  font-family: 'ProximaNova', sans-serif;
  font-weight: 100;
  margin-bottom: 5px;
}

.track-info h2 {
  font-size: 14px;
  font-family: 'ProximaNova', sans-serif;
  font-weight: 100;
}

.num {
  // padding-right: 20px;
  // padding-left: 20px;
  font-size: 17px;
  font-weight: 100;
  cursor: pointer;
  &:hover {
    color: #fff;
  }
}

.pl-tracks li:hover .num {
  display: none;
}

.pl-tracks li:hover .pl-tracks-btn:before {
  content: '►';
  color: #fff;
  cursor: pointer;
}

.play-tracks-btn, .delete-playlist  {
  height: 35px;
  width: 95px;
  font-size: 12px;
  border-radius: 35px;
  line-height: 1.3;
  vertical-align: middle;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 14px;
  // margin-bottom: 10px;
  letter-spacing: 2px;
  background-color: #1db954;
  color: white;
  display: block;
  &:hover {
    box-sizing: border-box;
    transition: .15s ease;
    background-color: #1ed660;
    color: white;
  }
}

.delete-playlist {
  background: transparent;
  color: #fff;
  box-shadow: inset 0 0 0 2px #a0a0a0;
  &:hover{
    background: transparent;
  }
}

// li:hover .pl-tracks-btn {
//   content: '►';
// }
// .track-info {
//   // display: block;
//   // justify-content: space-between;
// }

// .pl-title h1 {
//   color: white;
//   font-size: 20px;
//
// }
// .pl-title h2 {
//   color: white;
//   font-size: 16px;
//   color: #a0a0a0;
// }

.pl-tracks-right {
//   margin-left: 5px;
    display: flex;
    flex-direction: column;
}
// .pl-tracks-right h3 {
//   margin: 0px;
//   padding-left: 5px;
// }
// .pl-tracks-right button{
//   box-shadow: none;
//   padding: 5px;
//   text-align: left;
//   border-radius: 0;
//   &:hover {
//     background-color: black;
//   }
// }

// .track-dropdown {
//   position: fixed;
// opacity: 0;
// pointer-events: none;
// }
.pl-options {
//   position: fixed;
//   opacity: 1;
//   top: 114px;
//   left: 814px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

// .add-to-pl, .remove-from-pl {
//     width: 100%;
//     padding: 3px 20px;
//     clear: both;
//     font-weight: 400;
//     line-height: 2;
//     color: hsla(0,0%,100%,.4);
//     text-align: inherit;
//     white-space: nowrap;
//     background: 0 0;
//     border: 0;
//     cursor: pointer;
// }
