// Place all the styles related to the Api::Playlistings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.pl {
  // background-color: #181818;
  // background-image: linear-gradient(#404959, #060708 85%);
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.pl-image {
  display: flex;
  // flex-wrap: wrap;
  // justify-content: space-around;
  // align-items: center;
  flex-direction: column;
  padding-left: 8px;
  padding-right: 8px;
  // border: 1px solid red;
}
.pl-info {
  display: flex;
  flex-direction: column;
  // padding: 20px;
  width: 100%;
  color: #fff;
  text-transform: capitalize;
  padding-bottom: 10px;
  align-items: center;

}

.pl-info h1 {
  font-size: 36px;
  padding-bottom: 8px;
}
.pl-info h2, a {
  font-size: 16px;
  font-weight: normal;
  // padding-bottom: 8px;
  margin-bottom: 10px;
  color: #a0a0a0;
  text-decoration: none;
}

.pl-info h3 {
  font-size: 14px;
  color: #a0a0a0;
}

.pl button {
  margin-top: 10px;
  width: 100px;
  padding: 10px;
  border-radius: 40px;
  background: transparent;
  // box-shadow: inset 0 0 0 2px #a0a0a0;
  color: #a0a0a0;
  font-family: 'Proxima-Nova', sans-serif;
  letter-spacing: 1px;
  cursor: pointer;
}

.pl-image img {
  padding-bottom: 15px;
  cursor: pointer;
}

.pl-tracks {
  margin-bottom: 40px;
  padding-left: 8px;
  padding-right: 8px;
    width: 100%;
}

.pl-tracks li {
  color: #a0a0a0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 100;
  padding-top: 19px;
  width: 100%;
  transition: background-color .2s linear;
  box-sizing: border-box;
  &:hover {
    // background-color: black;
    // background: transparentize(black, .5%);
    // opacity: .4;
  }
}
.pl-tracks-left {
  text-align: right;
  padding-right: 1em;
  width: 3em;
}
.track-info {
  text-align: left;
  flex: 1;
  flex-grow: 1;
  flex-shrink: 1;
}

.num {
  // padding-right: 20px;
  // padding-left: 20px;
  cursor: pointer;
  &:hover {
    color: #fff;
  }
}

.pl-tracks li:hover .num {
  display: none;
}

.pl-tracks li:hover .pl-tracks-btn:before {
  content: '►';
  color: #fff;
  cursor: pointer;
}

// li:hover .pl-tracks-btn {
//   content: '►';
// }
// .track-info {
//   // display: block;
//   // justify-content: space-between;
// }

// .pl-title h1 {
//   color: white;
//   font-size: 20px;
//
// }
// .pl-title h2 {
//   color: white;
//   font-size: 16px;
//   color: #a0a0a0;
// }

.pl-tracks-right {
//   margin-left: 5px;
    display: flex;
    flex-direction: column;
}
// .pl-tracks-right h3 {
//   margin: 0px;
//   padding-left: 5px;
// }
// .pl-tracks-right button{
//   box-shadow: none;
//   padding: 5px;
//   text-align: left;
//   border-radius: 0;
//   &:hover {
//     background-color: black;
//   }
// }

// .track-dropdown {
//   position: fixed;
// opacity: 0;
// pointer-events: none;
// }
.pl-options {
//   position: fixed;
//   opacity: 1;
//   top: 114px;
//   left: 814px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

// .add-to-pl, .remove-from-pl {
//     width: 100%;
//     padding: 3px 20px;
//     clear: both;
//     font-weight: 400;
//     line-height: 2;
//     color: hsla(0,0%,100%,.4);
//     text-align: inherit;
//     white-space: nowrap;
//     background: 0 0;
//     border: 0;
//     cursor: pointer;
// }
